bin/bass.dll
*.ilk
*.pdb
src/.vs/GameEngine/v16
.vs
*.lastcodeanalysissucceeded
*.iobj
*.ipdb
src/shipping
releases/work_log_tracker/work_log_tracker.data
External/pugixml-1.10/docs
External/pugixml-1.10/scripts
*.exe
*_log.txt
bin/work_log_tracker.data
*.exp
bin/*.lib
*.blend1
*.tmp
*.mtl
External/box2d-master/build/bin/Debug/glad.lib
External/box2d-master/build/bin/Debug/glfw.lib
External/box2d-master/build/bin/Debug/imgui.lib
External/box2d-master/build/bin/Debug/sajson.lib
