src/bin/bass.dll
src/bin/game_engine_log.txt
src/bin/GameEngine.exe
*.ilk
*.pdb
src/.vs/GameEngine/v16
src/bin/GameEngine.iobj
src/bin/GameEngine.ipdb
.vs
*.lastcodeanalysissucceeded
src/bin/*_log.txt
src/bin/*.exe
*.iobj
*.ipdb
src/bin/GameEngine.dll
src/bin/GameEngine.lib
src/bin/game_engine.lib
src/shipping
releases/work_log_tracker/work_log_tracker.data
releases/work_log_tracker/work_log_tracker_log.txt
bin
bin/game_engine.lib
bin/ui_sandbox_log.txt
bin/ui_sandbox.exe
bin/work_log_tracker.exe
bin/hello_world.exe
bin/hello_world_log.txt
