bin/bass.dll
bin/GameEngine.exe
*.ilk
*.pdb
src/.vs/GameEngine/v16
.vs
*.lastcodeanalysissucceeded
*.iobj
*.ipdb
src/bin/GameEngine.dll
src/bin/GameEngine.lib
src/bin/game_engine.lib
src/shipping
releases/work_log_tracker/work_log_tracker.data
bin/game_engine.lib
bin/ui_sandbox.exe
bin/work_log_tracker.exe
bin/hello_world.exe
bin/entity_sandbox.exe
External/pugixml-1.10/docs
External/pugixml-1.10/scripts
*.inl
bin/gametype_sandbox.exe
*.exe
bin/*_log.txt
releases/*/*_log.txt
